In [ ]:
A= {1,2,3,4,5}
B= {5,6,7}

#print(2 in A)

type(2 in A)

bool

In [ ]:
A={1,2,3,4,5}
B= {2,5}
B.issubset(A)

True

In [ ]:
def is_subset(A,B):

  for e in A:
    if e in B:
      pass

    else:
      return False
  return True

A= {1,2,3,4,5}
B= {5,6,7}

sub= is_subset(A,B)
print(sub)

False

In [ ]:
import numpy as np
uni = set(np.arange(10))

A = set(np.arange(0,9,2))

B = set(np.arange(0,9,3))

print("\nuniversal set: ",uni)
print("\nset A : ",A)
print("\nsetB : ",B)

print("A U B : ", A.union(B))

universal set:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

set A :  {0, 2, 4, 6, 8}

setB :  {0, 3, 6}
A U B :  {0, 2, 3, 4, 6, 8}